$main-white: #ffffff;
$error-color: #f87171;
$text-color: #94a3b8;
$text-input-color: #727a79;
$border-color: #cbd5e10c;;
$backdrop-color: #cbd5e10c;
$backdrop-label-color: #cbd5e138;;
$min-border: 1px solid #cbd5e1;
$main-border-focus: 1px solid #cbd5e1;
$min-radius: 4px;

@mixin flex-row($jc, $ai) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin flex-col($jc, $ai) {
    display: flex;
    flex-direction: column;
    justify-content: $jc;
    align-items: $ai;
}

@mixin font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

@mixin focus {
    box-shadow: 0px 0px 10px -6px rgb(32, 184, 120);
}

// ================================================== SELECT

.exit {
    @include flex-row(center, center);
    height: 24px;
    width: 24px;
    position: absolute;
    right: 10px;
    margin-top: 4px;
}

.skiped-left {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important
}

.skiped-bottom {
    @include flex-row(flex-start, center);
    height: 36px;
    width: 100%;
    min-width: 140px;
    margin: 2px 0px;
    padding: 0px 8px;
    border: $min-border;
    border-radius: $min-radius;
    outline: none;
    font-size: 14px;
    color: $text-input-color;
    background-color: $backdrop-color;

    &:focus {
        border: $main-border-focus;
    }
   
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.select {
    @include flex-col(flex-start, flex-start);
    @include font;
    padding: 10px;
    position: relative;
    cursor: pointer;

    @media screen and (min-width: 420px) {
        width: 260px;
    }

    &-title {
        @include flex-row(flex-start, center);
        height: 16px;
        color: $text-color;

        &-text {
            @include flex-row(flex-start, center);
            height: 14px;
            width: 100%;
            font-size: 10px;
            color: $text-input-color;
        }

        &-required {
            height: 14px;
            margin-left: 2px;
            margin-right: 6px;
            font-size: 11px;
            color: $error-color;
        }
    }

    &-wrapper {
        @include flex-row(flex-start, center);
        width: 100%;

        &-field {
            @include flex-row(flex-start, center);
            height: 36px;
            width: 100%;
            min-width: 140px;
            margin: 2px 0px;
            padding: 0px 8px;
            border: $min-border;
            border-radius: $min-radius;
            outline: none;
            font-size: 14px;
            color: $text-input-color;
            background-color: $backdrop-color;

            &:focus {
                border: $main-border-focus;
            }
        }
    }

    &-error {
        @include flex-row(flex-start, center);
        height: 12px;

        &-message {
            font-size: 10px;
            color: $error-color;
        }
    }

    &-option-section {
        @include flex-col(flex-start, center);
        position: absolute;
        top: 68px;
        width: calc(100% - 22px);
        border: $min-border;
        border-radius: $min-radius;
        outline: none;
        font-size: 14px;
        color: $text-input-color;
        background-color: $main-white;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        z-index: 1;

        &-item {
            @include flex-row(flex-start, center);
            height: 36px;
            width: 100%;

            &:first-child:hover {
                border-radius: $min-radius;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }

            &:last-child:hover {
                border-radius: $min-radius;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                border-bottom-left-radius: $min-radius;
                border-bottom-right-radius: $min-radius;
            }

            &:hover {
                background-color: #f1f5f9;
            }

            &-text {
                padding: 0px 8px;
            }
        }
    }
}



// ================================================== INPUT
.left-title {
    @include flex-row(center, center);
    height: 36px;
    white-space: nowrap;
    padding-left: 10px;
    padding-right:10px;
    border: $min-border;
    border-radius: $min-radius;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
    background-color: $backdrop-label-color;
}

.skiped-left {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important
}

.input {
    @include flex-col(flex-start, flex-start);
    @include font;
    padding: 10px;

    @media screen and (min-width: 420px) {
        width: 260px;
    }

    &-title {
        @include flex-row(flex-start, center);
        height: 16px;
        color: $text-color;

        &-text {
            @include flex-row(flex-start, center);
            height: 14px;
            width: 100%;
            font-size: 10px;
            color: $text-input-color;
        }

        &-required {
            height: 14px;
            margin-left: 2px;
            margin-right: 6px;
            font-size: 11px;
            color: $error-color;
        }
    }

    &-wrapper {
        @include flex-row(flex-start, center);
        width: 100%;

        &-left-title {
            font-size: 12px;
            color: $text-color;
            border: $min-border;
            border-radius: $min-radius;
        }

        &-field {
            @include flex-row(flex-start, center);
            height: 36px;
            width: 100%;
            min-width: 140px;
            margin: 2px 0px;
            padding: 0px 8px;
            border: $min-border;
            border-radius: $min-radius;
            outline: none;
            font-size: 14px;
            color: $text-input-color;
            background-color: $backdrop-color;
        }
    }

    &-error {
        @include flex-row(flex-start, center);
        height: 12px;

        &-message {
            font-size: 10px;
            color: $error-color;
        }
    }
}